<nav
    class="
        navbar 
        navbar-default 
        navbar-fixed-top
    "
>
    <div class="container-fluid">
        <div
            class="navbar-header"
            style="
                float: left;
                padding: 15px;
                text-align: center;
                width: 100%;
            "
        >
            <a
                class="navbar-brand text-center"
                href="/"
                style="
                    float:none;
                "
            >
                Toyota Realtime Admin Interface
            </a>
        </div>
    </div>
</nav>