<nav
    class="
        navbar 
        navbar-default 
        navbar-fixed-top
    "
>
    <div class="container">
        <div class="navbar-header">
                <button
                    aria-controls="navbar"
                    aria-expanded="false"
                    class="
                        collapsed
                        navbar-toggle
                    "
                    data-target="#navbar"
                    data-toggle="collapse"
                    type="button"
                >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a
                class="navbar-brand"
                href="https://getbootstrap.com/examples/navbar-fixed-top/#"
            >
                Brand name here.
            </a>
        </div>
        <div
            class="
                collapse
                navbar-collapse 
            "
            id="navbar"
        >
            <ul 
                class="
                    nav
                    navbar-nav
                "
            >
                <li class="active">
                    <a href="https://getbootstrap.com/examples/navbar-fixed-top/#">
                        Main Page.
                    </a>
                </li>
                <li>
                    <a href="https://getbootstrap.com/examples/navbar-fixed-top/#about">
                        Overview.
                    </a>
                </li>
                <li class="dropdown">
                    <a
                        aria-expanded="false"
                        aria-haspopup="true"
                        class="dropdown-toggle"
                        data-toggle="dropdown"
                        role="button"
                    >
                        Notifications.<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        Prototype notification box.
                    </ul>
                </li>
                <li class="dropdown">
                    <a
                        aria-expanded="false"
                        aria-haspopup="true"
                        class="dropdown-toggle"
                        data-toggle="dropdown"
                        href="/profile"
                        role="button"
                    >
                        Profile.<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="https://getbootstrap.com/examples/navbar-fixed-top/#">
                                Settings.
                            </a>
                        </li>
                        <li>
                            <a href="https://getbootstrap.com/examples/navbar-fixed-top/#">
                                Sign out.
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul
                class="
                    nav
                    navbar-nav
                    navbar-right
                "
            >
                <li>
                    <a href="https://getbootstrap.com/examples/navbar/">
                        Link 1.
                    </a>
                </li>
                <li>
                    <a href="https://getbootstrap.com/examples/navbar-static-top/">
                        Link 2.
                    </a>
                </li>
                <li class="active">
                    <a href="https://getbootstrap.com/examples/navbar-fixed-top/">
                        Link 3.<span class="sr-only">current</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>