<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login-signup.css' />
  </head>
  <body>


	<div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="login-form-link">Login</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="register-form-link">Register</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" action="http://dummy.com/" method="post" role="form" style="display: block;">





									<div class="form-group">
										<input type="text" name="admin_email" id="admin_email" tabindex="1" class="form-control" placeholder="Admin Email" value="">
									</div>
									<div class="form-group">
										<input type="password" name="admin_password" id="admin_password" tabindex="2" class="form-control" placeholder="Admin Password">
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
											</div>
										</div>
									</div>





								</form>
								<form id="register-form" action="http://localhost:3000/api/admins" method="post" role="form" style="display: none;">





									<div class="form-group">
										<input type="text" name="String_Name" id="String_Name" tabindex="1" class="form-control" placeholder="Admin Name" value="">
									</div>
									<div class="form-group">
										<input type="email" name="String_Email" id="String_Email" tabindex="1" class="form-control" placeholder="Admin Email Address" value="">
									</div>
									<div class="form-group">
										<input type="password" name="String_Password" id="String_Password" tabindex="2" class="form-control" placeholder="Admin Password">
									</div>
									<div class="form-group">
										<input type="password" name="admin_password_confirm" id="admin_password_confirm" tabindex="2" class="form-control" placeholder="Confirm Admin Password">
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
											</div>
										</div>
									</div>
								




								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="javascripts/login-signup.js"></script>

  </body>
</html>
