<!DOCTYPE html>
<html>
<head>
<title>Toyota Realtime Admin Interface</title>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login-signup.css' />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="#" class="active" id="login-form-link">
                                    Login
                                </a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#" id="register-form-link">
                                    Register
                                </a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form
                                    action="/login"
                                    id="login-form"
                                    method="post"
                                    role="form"
                                    style="display: block;"
                                >





                                    <div class="form-group">
                                        <input
                                            class="form-control"
                                            id="Admin_String_Email_LogIn"
                                            name="Admin_String_Email_LogIn"
                                            placeholder="Admin Email"
                                            tabindex="1"
                                            type="text"
                                            value=""
                                        >
                                    </div>
                                    <div class="form-group">
                                        <input
                                            class="form-control"
                                            id="Admin_String_Password_LogIn"
                                            name="Admin_String_Password_LogIn"
                                            placeholder="Admin Password"
                                            tabindex="2"
                                            type="password"
                                        >
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-offset-3 col-sm-6">
                                                <input
                                                    class="btn btn-login form-control"
                                                    id="login-submit"
                                                    name="login-submit"
                                                    tabindex="3"
                                                    type="submit"
                                                    value="Log In"
                                                >
                                            </div>
                                        </div>
                                    </div>





                                </form>
                                <form id="register-form" action="/signup" method="post" role="form" style="display: none;">





                                    <div class="form-group">
                                        <input
                                            class="form-control"
                                            id="Admin_String_Name_SignUp"
                                            name="Admin_String_Name_SignUp"
                                            placeholder="Admin Name"
                                            tabindex="1"
                                            type="text"
                                            value=""
                                        >
                                    </div>
                                    <div class="form-group">
                                        <input
                                            class="form-control"
                                            id="Admin_String_Location_SignUp"
                                            name="Admin_String_Location_SignUp"
                                            placeholder="Admin Location"
                                            tabindex="2"
                                            type="text"
                                            value=""
                                        >
                                    </div>
                                    <div class="form-group">
                                        <input
                                            class="form-control"
                                            id="Admin_String_Email_SignUp"
                                            name="Admin_String_Email_SignUp"
                                            placeholder="Admin Email Address"
                                            tabindex="3"
                                            type="email"
                                            value=""
                                        >
                                    </div>
                                    <div class="form-group">
                                        <input
                                            class="form-control"
                                            id="Admin_String_Password_SignUp"
                                            name="Admin_String_Password_SignUp"
                                            placeholder="Admin  Password"
                                            tabindex="4"
                                            type="password"
                                        >
                                    </div>
                                    <div class="form-group">
                                        <input
                                            class="form-control"
                                            id="Admin_String_Password_Confirm_SignUp"
                                            name="Admin_String_Password_Confirm_SignUp"
                                            placeholder="Confirm Admin Password"
                                            tabindex="5"
                                            type="password"
                                        >
                                    </div>
                                        <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-offset-3 col-sm-6">
                                                <input
                                                    class="btn btn-register form-control"
                                                    id="register-submit"
                                                    name="register-submit"
                                                    tabindex="6"
                                                    type="submit"
                                                    value="Register Now"
                                                >
                                            </div>
                                        </div>
                                    </div>





                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="javascripts/login-signup.js"></script>
</body>
</html>