<html>
<head>
    <%- include /partials/import_css_and_title %>
</head>
<body
    class="
        ntg-debug-body-setting-2
    "
>





    <!--|||||||||||||||||||||||||NAVBAR|||||||||||||||||||||||||-->
    <!--|||||||||||||||||||||||||NAVBAR|||||||||||||||||||||||||-->
    <!--|||||||||||||||||||||||||NAVBAR|||||||||||||||||||||||||-->
    <!--|||||||||||||||||||||||||NAVBAR|||||||||||||||||||||||||-->
    <!--|||||||||||||||||||||||||NAVBAR|||||||||||||||||||||||||-->
    <nav
        class="
            navbar
            navbar-default
            navbar-fixed-top
        "
    >
        <div
            class="
                container-fluid
            "
        >
            <div
                class="
                    navbar-header
                "
                id="ntg-div-title-align-center"
            >
                <a
                    class="
                        navbar-brand
                        ntg-debug-float-none
                        text-center
                    "
                    href="/"
                >
                    Toyota Realtime Admin Interface.
                </a>
            </div>
        </div>
    </nav>
    <!--|||||||||||||||||||||||||NAVBAR END|||||||||||||||||||||||||-->
    <!--|||||||||||||||||||||||||NAVBAR END|||||||||||||||||||||||||-->
    <!--|||||||||||||||||||||||||NAVBAR END|||||||||||||||||||||||||-->
    <!--|||||||||||||||||||||||||NAVBAR END|||||||||||||||||||||||||-->
    <!--|||||||||||||||||||||||||NAVBAR END|||||||||||||||||||||||||-->





    <div
        class="
            container-fill
            ntg-debug-div-content-setting-1
        "
    >
        <div 
            class="
                row
            "
        >
            <div
                class="
                    col-xs-12
                    ntg-debug-dimension-height-percent-10
                "
            >
            </div>
        </div>
        <div 
            class="
                row
            "
        >
            <div
                class="
                    col-xs-4
                    col-xs-offset-4
                    ntg-debug-dimension-height-percent-80
                    ntg-debug-padding-side-0
                "
            >





                <!--|||||||||||||||||||||||||CONTENT|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||CONTENT|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||CONTENT|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||CONTENT|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||CONTENT|||||||||||||||||||||||||-->
                <div
                    class="
                        ntg-debug-margin-0
                        panel
                        panel-form
                    "
                >





                    <div
                        class="
                            panel-heading
                        "
                    >
                        <div
                            class="
                                row
                            "
                        >





                            <!--|||||||||||||||||||||||||MAIN BUTTON|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||MAIN BUTTON|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||MAIN BUTTON|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||MAIN BUTTON|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||MAIN BUTTON|||||||||||||||||||||||||-->
                            <div
                                class="
                                    col-xs-6
                                "
                            >
                                <a
                                    href="#"
                                    class="
                                        active
                                    "
                                    id="form-left-link"
                                >
                                    Login.
                                </a>
                            </div>





                            <div
                                class="
                                    col-xs-6
                                "
                            >
                                <a
                                    href="#"
                                    id="form-right-link"
                                >
                                    Register.
                                </a>
                            </div>
                            <!--|||||||||||||||||||||||||MAIN BUTTON END|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||MAIN BUTTON END|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||MAIN BUTTON END|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||MAIN BUTTON END|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||MAIN BUTTON END|||||||||||||||||||||||||-->





                        </div>
                    </div>





                    <hr
                        class="
                            ntg-debug-margin-0
                        "
                    >





                    <div
                        class="
                            panel-body
                        "
                    >





                        <div
                            class="
                                row
                            "
                        >
                            <div
                                class="
                                    col-xs-12
                                "
                            >





                                <!--|||||||||||||||||||||||||FORM LOGIN ADMIN|||||||||||||||||||||||||-->
                                <!--|||||||||||||||||||||||||FORM LOGIN ADMIN|||||||||||||||||||||||||-->
                                <!--|||||||||||||||||||||||||FORM LOGIN ADMIN|||||||||||||||||||||||||-->
                                <!--|||||||||||||||||||||||||FORM LOGIN ADMIN|||||||||||||||||||||||||-->
                                <!--|||||||||||||||||||||||||FORM LOGIN ADMIN|||||||||||||||||||||||||-->
                                <form
                                    class="
                                        active
                                    "
                                    action="/login_admin"
                                    id="form-left"
                                    method="post"
                                    role="form"
                                >





                                    <div
                                        class="
                                            form-group
                                        "
                                    >
                                        <input
                                            class="
                                                form-control
                                            "
                                            id="Admin_String_Email_LogIn"
                                            name="Admin_String_Email_LogIn"
                                            placeholder="Admin Email"
                                            tabindex="1"
                                            type="text"
                                        >
                                    </div>



                                    <div
                                        class="
                                            form-group
                                        "
                                    >
                                        <input
                                            class="
                                                form-control
                                            "
                                            id="Admin_String_Password_LogIn"
                                            name="Admin_String_Password_LogIn"
                                            placeholder="Admin Password"
                                            tabindex="2"
                                            type="password"
                                        >
                                    </div>



                                    <div
                                        class="
                                            form-group
                                        "
                                    >
                                        <input
                                            class="
                                                btn
                                                btn-block
                                                override-btn-register
                                                form-control
                                            "
                                            id="login-submit"
                                            name="login-submit"
                                            tabindex="3"
                                            type="submit"
                                            value="Log In."
                                        >
                                    </div>





                                </form>
                                <!--|||||||||||||||||||||||||FORM LOGIN ADMIN END|||||||||||||||||||||||||-->
                                <!--|||||||||||||||||||||||||FORM LOGIN ADMIN END|||||||||||||||||||||||||-->
                                <!--|||||||||||||||||||||||||FORM LOGIN ADMIN END|||||||||||||||||||||||||-->
                                <!--|||||||||||||||||||||||||FORM LOGIN ADMIN END|||||||||||||||||||||||||-->
                                <!--|||||||||||||||||||||||||FORM LOGIN ADMIN END|||||||||||||||||||||||||-->





                                <!--|||||||||||||||||||||||||FORM REGISTER ADMIN|||||||||||||||||||||||||-->
                                <!--|||||||||||||||||||||||||FORM REGISTER ADMIN|||||||||||||||||||||||||-->
                                <!--|||||||||||||||||||||||||FORM REGISTER ADMIN|||||||||||||||||||||||||-->
                                <!--|||||||||||||||||||||||||FORM REGISTER ADMIN|||||||||||||||||||||||||-->
                                <!--|||||||||||||||||||||||||FORM REGISTER ADMIN|||||||||||||||||||||||||-->
                                <form
                                    class="
                                        ntg-debug-display-none
                                    "
                                    action="/register_admin"
                                    id="form-right"
                                    method="post"
                                    role="form"
                                >





                                    <div
                                        class="
                                            form-group
                                        "
                                    >
                                        <input
                                            class="
                                                form-control
                                            "
                                            id="Admin_String_Name_Register"
                                            name="Admin_String_Name_Register"
                                            placeholder="Admin Name"
                                            tabindex="1"
                                            type="text"
                                            value=""
                                        >
                                    </div>





                                    <div
                                        class="
                                            form-group
                                        "
                                    >
                                        <input
                                            class="
                                                form-control
                                            "
                                            id="Admin_String_Location_Register"
                                            name="Admin_String_Location_Register"
                                            placeholder="Admin Location"
                                            tabindex="2"
                                            type="text"
                                            value=""
                                        >
                                    </div>





                                    <div
                                        class="
                                            form-group
                                        "
                                    >
                                        <input
                                            class="
                                                form-control
                                            "
                                            id="Admin_String_Email_Register"
                                            name="Admin_String_Email_Register"
                                            placeholder="Admin Email Address"
                                            tabindex="3"
                                            type="email"
                                            value=""
                                        >
                                    </div>





                                    <div
                                        class="
                                            form-group
                                        "
                                    >
                                        <input
                                            class="
                                                form-control
                                            "
                                            id="Admin_String_Password_Register"
                                            name="Admin_String_Password_Register"
                                            placeholder="Admin  Password"
                                            tabindex="4"
                                            type="password"
                                        >
                                    </div>





                                    <div
                                        class="
                                            form-group
                                        "
                                    >
                                        <input
                                            class="
                                                form-control
                                            "
                                            id="Admin_String_Password_Confirm_Register"
                                            name="Admin_String_Password_Confirm_Register"
                                            placeholder="Confirm Admin Password"
                                            tabindex="5"
                                            type="password"
                                        >
                                    </div>





                                    <div
                                        class="
                                            form-group
                                        "
                                    >
                                            <input
                                                class="
                                                    btn
                                                    btn-block
                                                    override-btn-register
                                                    form-control
                                                "
                                                id="register-submit"
                                                name="register-submit"
                                                tabindex="6"
                                                type="submit"
                                                value="Register."
                                            >
                                    </div>





                                </form>
                                <!--|||||||||||||||||||||||||FORM REGISTER ADMIN END|||||||||||||||||||||||||-->
                                <!--|||||||||||||||||||||||||FORM REGISTER ADMIN END|||||||||||||||||||||||||-->
                                <!--|||||||||||||||||||||||||FORM REGISTER ADMIN END|||||||||||||||||||||||||-->
                                <!--|||||||||||||||||||||||||FORM REGISTER ADMIN END|||||||||||||||||||||||||-->
                                <!--|||||||||||||||||||||||||FORM REGISTER ADMIN END|||||||||||||||||||||||||-->





                            </div>
                        </div>





                    </div>





                </div>
                <!--|||||||||||||||||||||||||CONTENT END|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||CONTENT END|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||CONTENT END|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||CONTENT END|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||CONTENT END|||||||||||||||||||||||||-->





            </div>
        </div>





        <div 
            class="
                row
            "
        >
            <div
                class="
                    col-xs-12
                    ntg-debug-dimension-height-percent-10
                "
            >
            </div>
        </div>





    </div>





    <%- include /partials/import_js_bottom %>





</body>
</html>