<!DOCTYPE html>
<html>
<head>
<title>Toyota Realtime Admin Interface</title>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div>
    </div>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>