<!DOCTYPE html>
<html>
<head>
<title>Toyota Realtime Admin Interface</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/bower_components/metisMenu/dist/metisMenu.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>
    .container-fluid,
    .row{
        height: 100%;
        margin: 0 !important;
        padding: 0 !important; }
    .content{
        display: block;
        overflow: hidden;
        width: auto; }
    .list-group-item{
        color: #000000; }
    .ntg-container-fill{
        height: 100%;
        margin: 0 !important;
        padding-bottom: 3px !important;
        padding-left: 6px !important;
        padding-right: 3px !important;
        padding-top: 54px !important; }
    .ntg-container{
        box-sizing: border-box;
        margin: 0 !important; }
    .ntg-div-background{
        background: #F8F8F8; }
    .ntg-dropdown-background.active{
        margin-bottom: 0 !important;
        padding-bottom: 0 !important; }
    .ntg-dropdown-background{
        background: #F8F8F8 !important; }
        border: none;
    .sidebar{
        background: #333;
        display: block;
        float: left;
        width: 100%; }
    .sidebar-nav a,
    .sidebar-nav a:active,
    .sidebar-nav a:focus,
    .sidebar-nav a:hover{
        outline: none; }
    .sidebar-nav ul a{
        background-color: #45283C;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
        color: #aaa;
        padding: 10px 20px;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5); }
    .sidebar-nav ul a:hover{
        background-color: rgba(255, 255, 255, 0.2);
        text-decoration: none; }
    .sidebar-nav ul li, .sidebar-nav ul a{
        display: block; }
    .sidebar-nav ul ul a{
        background-color: #663931;
        padding: 10px 30px; }
    .sidebar-nav ul ul a:hover{
        background-color: rgba(255, 255, 255, 0.2);
        text-decoration: none; }
    .sidebar-nav ul ul ul a{
        background-color: #8F563B;
        padding: 10px 40px; }
    .sidebar-nav ul ul ul a:hover{
        background-color: rgba(255, 255, 255, 0.2);
        text-decoration: none; }
    .sidebar-nav ul{
        list-style: none;
        margin: 0;
        padding: 0; }
    .sidebar-nav{
        background-image: -webkit-linear-gradient(left, color-stop(#333333 10px), color-stop(#222222 10px));
        background-image: linear-gradient(to right, #333333 10px, #222222 10px);
        background-repeat: repeat-x;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff222222', GradientType=1); }
    .sidebar-nav-item{
        padding-left: 5px; }
    .sidebar-nav-item-icon{
        padding-right: 5px; }
    body, html{
        background: #222034 !important;
        height: 100%;
        margin: 0 !important;
        padding: 0 !important; }
    </style>
</head>
<body>



    <header>
        <% include /partials/header-page_main %>
    </header>



    <div class="container-fluid">
      <div class="ntg-container row">
        <div class="ntg-container-fill">
            <div class="ntg-container row">





                <div class="col-sm-3 img-rounded ntg-container-fill" style="overflow-y: auto; padding: 0 !important;">





                    <aside class="sidebar">
                        <nav class="sidebar-nav">
                            <ul class="metismenu" id="ntg-side-menu">
                                <li class="active">
                                    <a href="/page_main">Admin.<span class="glyphicon arrow"></span></a>
                                    <ul aria-expanded="true" class="collapse in">
                                        <li><a href="/page_main">Admin 1.</a></li>
                                        <li><a href="/page_main">Admin 2.</a></li>
                                        <li><a href="/page_main">Admin 3.</a></li>
                                    </ul>
                                </li>
                                <li class="active">
                                    <a href="/page_main">User.<span class="glyphicon arrow"></span></a>
                                    <ul class="collapse">
                                        <li class="active">
                                            <a href="/page_main">User 1.<span class="glyphicon arrow"></span></a>
                                            <ul class="collapse in">
                                                <li><a>Avanza.</a></li>
                                                <li><a>Fortuner.</a></li>
                                                <li><a>Kijang Innova.</a></li>
                                            </ul>
                                        </li>
                                        <li class="active">
                                            <a href="/page_main">User 2.<span class="glyphicon arrow"></span></a>
                                            <ul class="collapse in">
                                                <li><a>Avanza.</a></li>
                                                <li><a>Fortuner.</a></li>
                                                <li><a>Kijang Innova.</a></li>
                                            </ul>
                                        </li>
                                        <li class="active">
                                            <a href="/page_main">User 3.<span class="glyphicon arrow"></span></a>
                                            <ul class="collapse in">
                                                <li><a>Avanza.</a></li>
                                                <li><a>Fortuner.</a></li>
                                                <li><a>Kijang Innova.</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="active">
                                    <a href="/page_main">Workshop.<span class="glyphicon arrow"></span></a>
                                    <ul class="collapse in">
                                        <li><a href="/page_main">Workshop 1.</a></li>
                                        <li><a href="/page_main">Workshop 2.</a></li>
                                        <li><a href="/page_main">Workshop 3.</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </aside>





                </div>





                <div class="col-sm-9 ntg-container-fill" style="padding: 0 !important;">
                    <div class="ntg-container row" style="height: 60% !important;">





                        <div class="col-sm-6 img-rounded ntg-container-fill ntg-div-background" style="border: solid; border-color: #222034; padding: 0 !important;">OBD information.</div>



                        <div
                            class="
                                col-sm-6 
                                img-rounded 
                                ntg-container-fill 
                                ntg-div-background
                            "
                            id="ntg-id-map-google"
                            style="
                                border-color: #222034 !important;
                                border: solid;
                                padding: 0 !important;
                            "
                        >
                        </div>





                    </div>
                    <div class="ntg-container row" style="height: 40% !important;">





                        <div class="col-sm-12 img-rounded ntg-container-fill ntg-div-background" id="ntg-container-chat" style="border: solid; border-color: #222034; padding: 0 !important; position: relative;">
                            <div id="ntg-div-chat" style="height: 87%; min-height: 87%; overflow-y: auto;">
                                <ul class="list-group" id="ntg-ul-chat" style="margin: 0 !important;"></ul>
                            </div>
                            <div style="height: 13%; min-height: 13%;">
                                <form id="ntg-form-message-send">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="ntg-input-chat" placeholder="Type your message.">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">Send.</button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>





                    </div>
                </div>
            </div>
        </div> 
      </div>
    </div>


    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <script src="javascripts/socket.io-1.4.5.js"></script>
    <script>





        //Retrieve the name of the logged in admin. 
        var String_NameDisplay = <%-JSON.stringify(String_NameDisplay)%>;





        //Metis menu activator.
        $("#ntg-side-menu").metisMenu({ toggle: false });





        //Google map object initialization.
        var Object_Map;
        function initMap(){
            Object_Map = new google.maps.Map(document.getElementById("ntg-id-map-google"), {
                center: { lat: 106.89, lng: -6.14 },
                zoom: 8
            });
        }





        //SocketIO chat object and logic.
        var Object_SocketIO_Client = io();
        var String_Delimeter = "*!@#^%$&*(*!@#^%$&*(*!@#^%$&*(";
        $("#ntg-form-message-send").submit(function(_Object_Event){
            var String_MessageNew = $("#ntg-input-chat").val();
            if(String_MessageNew){ //Do simple string validation before sending message to chat server.
                Object_SocketIO_Client.emit(
                    "ntg_event_message_sent_to_server",
                    String_NameDisplay + String_Delimeter + $("#ntg-input-chat").val()
                );
            }
            $("#ntg-input-chat").val(""); //Empty the send message text field.
            return false;
        });
        //These codes below happened if this object received message.
        Object_SocketIO_Client.on("ntg_event_message_sent_to_server", function(_Object_DataReceived){
            var String_Received = _Object_DataReceived;
            var Array_String_Received = String_Received.split(String_Delimeter);

            //Testing string received, then split it into 2 to prepare right and left chat alignment.
            console.log("=====TEST SPLIT=====");
            console.log(Array_String_Received[0]);
            console.log(Array_String_Received[1]);
            console.log("=====TEST SPLIT=====");

            var String_PutThisInChatBox = null;
            //If this user received its own message, that just sent.
            if(String_NameDisplay == Array_String_Received[0]){
                $("#ntg-ul-chat").append($("<li class='list-group-item text-left'><strong>" + Array_String_Received[0] + ":</strong> " + Array_String_Received[1] + "</li>"));
            }
            else if(String_NameDisplay != Array_String_Received[0]){
                /*
                String_PutThisInChatBox = Array_String_Received[0] + ": " + Array_String_Received[1];
                String_PutThisInChatBox = Array_String_Received[1] + " :" + Array_String_Received[0];
                $("#ntg-ul-chat").append($("<li class='list-group-item text-right'>").text(String_PutThisInChatBox));
                */
                $("#ntg-ul-chat").append($("<li class='list-group-item text-right'>" + Array_String_Received[1]  + "<strong> :" + Array_String_Received[0] + "</li>"));
            }
            

            //These two lines of codes are for scrolling the chat box to the newest chat received.
            var Object_Element = document.getElementById("ntg-div-chat");
            Object_Element.scrollTop = Object_Element.scrollHeight;
        });





    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtpkvsY7CV5nf5oPWGvSEfiiWT-RCTlk0&callback=initMap" async defer></script>
</body>
</html>